<h1>Listing locations</h1>

<form action="/locations/maintain/" method="post" >
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
  <% @locations.each do |location| %>
    <tr>
      <td><%= location.name %></td>
      <td><%= location.location_id %></td>
      <td><%= link_to 'Show', :name => 'submit', :value => 'show', :class => 'btn btn-success' %></td>
      <td><%= link_to 'Edit', :name => 'submit', :value => 'edit', :class => 'btn btn-warning' %></td>
      <td><%= link_to 'Destroy', :name => 'submit', :value => 'destroy', :class => 'btn btn-danger' %></td>

      <!--<td><%= link_to 'Show', location %></td>
      <td><%= link_to 'Edit', edit_location_path(location) %></td>
      <td><%= link_to 'Destroy', location, :confirm => 'Are you sure?', :method => :delete %></td>-->
    </tr>
  <% end %>
    </tbody>
  </table>

  <br />
  <%= button_tag 'Add', :name => 'submit', :value => 'add', :class => 'btn btn-info' %>
  <%= link_to 'New Location', new_location_path %>
</form>
